*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

.App {
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

form {
  min-width: 500px;
  padding: 20px;
  background-color: #fafafa;
  border-radius: 3px;
}

.form-header {
  font-size: 40px;
  margin-bottom: 30px;
}

.form-group {
  margin: 15px 0;
}

.form-field {
  height: 35px;
  min-width: 950px;
  font-size: 22px;
}

.form-radio {
  margin: 10px;
}

fieldset {
    border: 0;
}

.footer {
  min-width: 950px;
  min-height: 100px;
  text-align:center;
  margin: 20px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color:white;
}

.footer-login {
  background-color: #fafafa;
}

.footer-non-login {
  background-color: #9d1ead;
}

label {
  display: block;
  margin-bottom: 3px;
}

.button {
  background-color: #9d1ead;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  min-width: 950px;
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.error-msg {
  color: red;
  margin: 5px 7px;
  font-weight: bold;
  text-align: right;
}